/* ----------------------------------- PRIMARY COLORS ----------------------------------------- */

$cyan-dark: hsl(158, 36%, 37%);
$cyan-very-dark: hsl(158, 36%, 20%);
$cream: hsl(30, 38%, 92%);

/* ----------------------------------- NEUTRAL COLORS ----------------------------------------- */

$blue-very-dark: hsl(212, 21%, 14%);
$blue-greyish-dark: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);